body{
    background:black;
    color:black ;
    margin: 0;
    text-align: center;
}
.button{
    color:green;
}
.mark{font-size: 7px;
}

.mark > a{
    text-decoration: none;
}
.mark > a:hover{
    text-decoration: underline;
}

.list-group {
    background-color: white;
    text-align: center;
    width: 500px;
    display: inline-block;
    padding: 5px;
    line-height: 1.8;
    margin: 50px auto 0 auto;

}

.form-group{
    display: inline-block;
    background-color: beige;

}
